{% extends 'base.html.twig' %}

{% block title %}SelfTest - {{ quizTest.quiz.name }}{% endblock %}

{% block body %}
    <div class="test-container">
        <div class="test-card">
            <a href="{{ path('app_home') }}" class="btn-back">
                <i class="fas fa-arrow-left"></i>
                Volver
            </a>
            
            <h1 class="text-center mt-4">{{ quizTest.quiz.name }}</h1>
            <p class="text-center text-muted mb-4">{{ questions|length }} preguntas</p>
            
            <form method="post" action="{{ path('app_quiz_submit', {id: quizTest.id}) }}">
                {% for question in questions %}
                    <div class="question-block mb-4">
                        <h5 class="fw-bold mb-3">{{ loop.index }}. {{ question.text }}</h5>
                        
                        <div class="answers-list">
                            {% for answer in question.answers %}
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" 
                                           name="answers[{{ question.id }}]" 
                                           id="answer_{{ question.id }}_{{ loop.index }}" 
                                           value="{{ answer.id }}">
                                    <label class="form-check-label" for="answer_{{ question.id }}_{{ loop.index }}">
                                        {{ answer.text }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                
                <div class="text-center mt-4">
                    <button type="submit" class="btn-login">
                        <i class="fas fa-check me-2"></i>
                        Enviar respuestas
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
