{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary" data-url="{{ path(PREFIX ~ 'edit', {'id': category.id}) }}" data-action="click->modal-loader#open">Edit</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" data-url="{{ path(PREFIX ~ 'new') }}" data-action="click->modal-loader#open">Create new</button>
{% endblock %}
