{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}
{# templates/task/new.html.twig #}

{# ... #}
{% block body %}
{{ form_start(form) }}
    {{ form_row(form.description) }}

{# <div {{ stimulus_controller('form-collection') }} #}
{#<div data-controller='form-collection'
    data-form-collection-index-value="{{ form.tags|length > 0 ? form.tags|last.vars.name + 1 : 0 }}"
    data-form-collection-prototype-value="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">#}
<div data-controller='form-collection'
    data-form-collection-index-value="{{ form.tags|length > 0 ? form.tags|last.vars.name + 1 : 0 }}"
    data-form-collection-prototype-value="{{ include('task/tag_prototype.html.twig', { 'row': form.tags.vars.prototype })|e('html_attr') }}"
>
<h3>Tags</h3>
    <ul {{ stimulus_target('form-collection', 'collectionContainer') }}>
        {% for tag in form.tags -%}
            {{ include('task/tag_prototype.html.twig', { 'row': tag }) }}
        {%- endfor %}
    </ul>
    {# <button type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>Add a tag</button> #}
    <button type="button" class="btn btn-primary" data-action="form-collection#addCollectionElement">Add a tag</button>
{{ form_end(form) }}

{# ... #}
{% endblock %}
