<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}SelfTest{% endtrans %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.svg') }}">
    </head>
    <body>
        {% if is_granted('ROLE_USER') %}
        <nav class="navbar navbar-expand-lg sticky-top bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="{{ path('app_home') }}">
                    <i class="fas fa-brain me-2"></i>
                    SelfTest
                </a>
                <div class="d-flex align-items-center gap-3">
                    {% if is_granted('ROLE_TEACHER') %}
                    <a href="{{ path('admin') }}" class="btn btn-outline-primary btn-sm">
                        <i class="fas fa-cog"></i>
                    </a>
                    {% endif %}
                    <div class="user-info">
                        <div class="user-avatar">
                            {{ app.user.name|first|upper }}
                        </div>
                        <span class="fw-semibold">{{ app.user.name }}</span>
                    </div>
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-danger btn-sm">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
        </nav>
        {% endif %}
        
        <main>
            <div data-controller="modal-loader" class="d-flex justify-between">
                <div class="container">
                {{ include('_flash.html.twig') }}
                    {% block body %}{% endblock %}
                </div>
                <dialog data-modal-loader-target="dialog"
                    class="shadow"
                    data-action="close->modal-loader#close"
                    >
                    <!-- contenido AJAX -->
                </dialog>
            </div>
        </main>


        <footer>


        </footer>
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

     </body>
</html>
